<ion-header>
  <ion-toolbar>
    <ion-title>Login admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="container">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="email"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="password"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input>
    </ion-item>

    <ion-button
      expand="block"
      color="primary"
      (click)="login()"
      [disabled]="loading"
    >
      Entrar
    </ion-button>
  </div>
</ion-content>

